<ion-content>
  <div class="container">
    <img class="img2" src="https://firebasestorage.googleapis.com/v0/b/petti-2d60d.appspot.com/o/Landing%2Flogo_petti_am_1.png?alt=media&token=0b8f8ef3-18a8-4ca0-a20d-1cd6426acae7" alt="">
    <ion-toolbar>
      <img class="img" src="https://firebasestorage.googleapis.com/v0/b/petti-2d60d.appspot.com/o/Landing%2Flogo_petti_am_1.png?alt=media&token=0b8f8ef3-18a8-4ca0-a20d-1cd6426acae7" alt="">
      <ion-button (click)="menu()" routerLink="/login" slot="end" color="vibrant" mode="ios" shape="round">
        <b>Ingresar</b>
      </ion-button>
      <ion-button (click)="menu()" routerLink="/registeremp" routerLinkActive="router-link-active"  slot="end" mode="ios" class="btn-a" shape="round">
        <b>Registrarme</b>
      </ion-button>
    </ion-toolbar>
    <ion-row>
      <ion-col  size="12" size-md="6">
        <h1 style="color:#084752; font-size: 60px;"><strong>El mundo de las mascotas</strong></h1> <br><br>
        <p class="ion-text-justify" style="color:#084752; font-size: 25px;">
          ¡Haz parte de nuestra <b>plataforma digital y preferencial</b> en donde obtienes <b>mayor visibilidad</b> mientras se <b>autogestionan todas tus solicitudes!</b> 
        </p>
        <div class="btn-b ion-text-center">
          <a href="https://es.surveymonkey.com/r/FBPZJ8H" target="_Blank" style="color: #084752;">
            <b>Comunícate con nosotros y obtén 2 meses GRATIS</b>
          </a>
        </div>
      </ion-col>
      <ion-col  size="12" size-md="6">
        <img src="https://firebasestorage.googleapis.com/v0/b/petti-2d60d.appspot.com/o/Landing%2Fdisen_o_sin_ti_tulo_1.png?alt=media&token=e8354784-87d7-478e-ab79-685d83f431ff" alt="">
      </ion-col>
      <div class="cm">
          <ion-row>
            <div class="line">
              <ion-row>
                <ion-col size="6">
                  <img class="img3" src="https://firebasestorage.googleapis.com/v0/b/petti-2d60d.appspot.com/o/Landing%2Fbadge_1.png?alt=media&token=9b0e3914-e8ec-4aba-8ae2-63babdb15554" alt="">
                </ion-col>
                <ion-col size="6">
                  <b style="color: #084752;">CONFIANZA</b>
                  <p>Hacia tus clientes</p>
                </ion-col>
              </ion-row>
            </div>
            <div class="line">
              <ion-row>
                <ion-col size="5">
                  <img class="img3" src="https://firebasestorage.googleapis.com/v0/b/petti-2d60d.appspot.com/o/Landing%2Fadministracion_1.png?alt=media&token=48932830-b564-448c-8aa2-6532d8249aa7" alt="">
                </ion-col>
                <ion-col size="7">
                  <b style="color: #084752;">AUTOGESTIÓN</b>
                  <p>En toda tu operación</p>
                </ion-col>
              </ion-row>
            </div>
            <div class="line">
              <ion-row>
                <ion-col size="6">
                  <img class="img3" src="https://firebasestorage.googleapis.com/v0/b/petti-2d60d.appspot.com/o/Landing%2Fmetrica_1.png?alt=media&token=4ca092c6-d73f-485c-a335-7ea0981da911" alt="">
                </ion-col>
                <ion-col size="6">
                  <b style="color: #084752;">MÉTRICAS</b>
                  <p>De tu negocio</p>
                </ion-col>
              </ion-row>
            </div>
            <div>
              <ion-row>
                <ion-col size="6">
                  <img class="img3" src="https://firebasestorage.googleapis.com/v0/b/petti-2d60d.appspot.com/o/Landing%2Fmegafono_1.png?alt=media&token=744705da-47e5-48cd-bf75-13a40af20fa7" alt="">
                </ion-col>
                <ion-col size="6">
                  <b style="color: #084752;">VISIBILIDAD</b>
                  <p>Darte a conocer</p>
                </ion-col>
              </ion-row>
            </div>
          </ion-row>
      </div>

      <ion-col size="12" size-sm="6">
        <img src="https://firebasestorage.googleapis.com/v0/b/petti-2d60d.appspot.com/o/Landing%2Fdisen_o_sin_ti_tulo_2.png?alt=media&token=364b8c61-098f-4498-a691-1566fbab28c4" alt="">
      </ion-col>
      <ion-col size="12" size-sm="6" class="ion-text-center ptt">
        <h1 style="color:#084752; font-size: 60px;">
          <strong>
            Aumenta las ganancias de tu negocio con Petti
          </strong>
        </h1>
      </ion-col>

      <ion-col size="12" class="ion-text-center">
        <h1 style="color:#084752; font-size: 100px;">
          <strong>
            ¿Qué te ofrecemos?
          </strong>
        </h1>
      </ion-col>

      <ion-col size="12" size-sm="6">
        <img src="https://firebasestorage.googleapis.com/v0/b/petti-2d60d.appspot.com/o/Landing%2Fdisen_o_sin_ti_tulo_3.png?alt=media&token=b83ae268-28ef-45a0-8807-cbfb59a2f751" alt="">
      </ion-col>
      <ion-col size="12" size-sm="6" class="ion-text-justify ptt">
        <h1 style="color:#084752; font-size: 60px;">
          <strong>
            Petti Badge
          </strong>
        </h1>
        <p style="color:#084752; font-size: 25px;">
          Con <b>Petti Badge</b> presume a tus clientes servicios preferenciales y de calidad. <br><br>
          <ion-icon name="checkmark-circle" color="primary"></ion-icon>Gana la confianza de tus clientes <br>
          <ion-icon name="checkmark-circle" color="primary"></ion-icon>Mejora tus procesos internos <br>
          <ion-icon name="checkmark-circle" color="primary"></ion-icon>Resalta tus virtudes como centro veterinario <br>
        </p>
      </ion-col>

      <ion-col size="12" size-sm="6" class="ion-text-justify ptt">
        <h1 style="color:#084752; font-size: 60px;">
          <strong>
            AUTOGESTIÓN
          </strong>
        </h1>
        <p style="color:#084752; font-size: 25px;">
          ¡Déjaselo a Petti! Desde <b>agendamientos</b> y <b>pagos en línea</b> hasta entregarte <b>toda la información necesaria</b> para llevar a cabo el servicio o venta. <br><br>
          <ion-icon name="checkmark-circle" color="primary"></ion-icon>Perfecciona tus procesos internos <br>
          <ion-icon name="checkmark-circle" color="primary"></ion-icon>Dedicate a lo que te apasiona <br>
          <ion-icon name="checkmark-circle" color="primary"></ion-icon>Agenda +10 solicitudes en 1 minuto <br>
        </p>
      </ion-col>
      <ion-col size="12" size-sm="6">
        <img src="https://firebasestorage.googleapis.com/v0/b/petti-2d60d.appspot.com/o/Landing%2Fdisen_o_sin_ti_tulo__1__1.png?alt=media&token=6233a970-9796-4d52-96e2-d0673721344a" alt="">
      </ion-col>

      <ion-col size="12" size-sm="6">
        <img src="https://firebasestorage.googleapis.com/v0/b/petti-2d60d.appspot.com/o/Landing%2Fdisen_o_sin_ti_tulo__2__1.png?alt=media&token=80814665-5dcf-4fee-89e0-cb521a24d3ed" alt="">
      </ion-col>
      <ion-col size="12" size-sm="6" class="ion-text-justify ptt">
        <h1 class="ion-text-left" style="color:#084752; font-size: 60px;">
          <strong>
            MÉTRICAS DE TU NEGOCIO
          </strong>
        </h1>
        <p style="color:#084752; font-size: 25px;">
          Con nuestro panel diseñado para ti, toma las <b>mejores decisiones</b> de ofertas, ventas e inventario <b>analizando tus métricas mensuales</b> <br><br>
          <ion-icon name="checkmark-circle" color="primary"></ion-icon>Sabras que producto y servicio busca el mercado <br>
          <ion-icon name="checkmark-circle" color="primary"></ion-icon>Consejos para generar ofertas o compras de inventario <br>
          <ion-icon name="checkmark-circle" color="primary"></ion-icon>Que es lo que mas vende tu competencia <br>
        </p>
      </ion-col>

      <ion-col size="12" size-sm="6" class="ion-text-justify ptt">
        <h1 style="color:#084752; font-size: 60px;">
          <strong>
            VISIBILIDAD
          </strong>
        </h1>
        <p style="color:#084752; font-size: 25px;">
          <b>Dueños de mascotas</b> que no te conocían pasarán a <b>ser tus clientes,</b> Petti se encarga de <b>darte a conocer online y offline</b> <br><br>
          <ion-icon name="checkmark-circle" color="primary"></ion-icon>Creamos estrategias enfocadas en tu crecimiento <br>
          <ion-icon name="checkmark-circle" color="primary"></ion-icon>Cocreación de contenido <br>
          <ion-icon name="checkmark-circle" color="primary"></ion-icon>Te comprarán dueños de mascotas que no lo hacían <br>
        </p>
      </ion-col>
      <ion-col size="12" size-sm="6">
        <img src="https://firebasestorage.googleapis.com/v0/b/petti-2d60d.appspot.com/o/Landing%2Fdisen_o_sin_ti_tulo__3__1.png?alt=media&token=3399f371-3327-4b9e-ae7e-53a2719b1a8f" alt="">
      </ion-col>

      <ion-col size="12" class="ion-text-center">
        <h1 style="color:#084752; font-size: 50px;">
          <strong>
            No necesitas saber de tecnología, Petti es la plataforma mas fácil de usar en el mercado
          </strong>
        </h1>
      </ion-col>
      
    </ion-row>
    <div class="btn-b ion-text-center">
      <a href="https://es.surveymonkey.com/r/FBPZJ8H" target="_Blank" style="color: #084752;">
        <b>Comunícate con nosotros y obtén 2 meses GRATIS</b>
      </a>
    </div>
    <br><br><br>
  </div>
</ion-content>