ion-content {
    --background: url('https://firebasestorage.googleapis.com/v0/b/petti-2d60d.appspot.com/o/Home%2Fpattern.jpg?alt=media&token=3a5a14d7-71c4-44b2-a12f-5a50fc49ac85');
}

#card{
    border-radius: 5px;
    box-shadow: 5px 10px 8px #cccccc;
    cursor: pointer;
}

.your-img {
    border-radius: 5px 5px 0px 0px !important;
    overflow: hidden;
    background: rgb(224 117 119 / 0.8);
    height: 150px;
}

.card-bt{
    background: white;
    border-radius: 5px;
    height: 65px;
    padding-top: 10px;
}

h1{
    font-size: 30px;
}

.divider{
    height: 4px;
    width: 100%;
}

@media only screen and (min-width: 600px){
    .your-img{
        height: 300px;
    }
}

@media only screen and (min-width: 1200px){
    .your-img{
        height: 450px;
    }
}