.img{
    margin-top: 20px;
    height: 90px;
}

.auto{
    margin:auto;
    margin-top: 25%;
}

@media only screen and (min-width: 600px){
    .auto{
        margin-top: 15%;
        width: 50%;
    }
}