<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>803233260404-i1h257b984ccmo2pb5geses28nebqk7l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803233260404-i1h257b984ccmo2pb5geses28nebqk7l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>803233260404-op9osnec9jdlqohmi7vh0buoo568aqc3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD4MpprkCJJGN1nquqhNHjjsan3mULeqD8</string>
	<key>GCM_SENDER_ID</key>
	<string>803233260404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.innova.petti</string>
	<key>PROJECT_ID</key>
	<string>petti-2d60d</string>
	<key>STORAGE_BUCKET</key>
	<string>petti-2d60d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803233260404:ios:f60a48b7b4b73b93660221</string>
	<key>DATABASE_URL</key>
	<string>https://petti-2d60d.firebaseio.com</string>
</dict>
</plist>