ion-content {
    --background: #F5F9FD;
}

ion-card {
    cursor: pointer;
    margin: 5px;
    height: 90px;
}

ion-card-header{
    padding: 10px;
}

.center {
    display: block;
    margin: auto;
}

.img{
    height: 50px;
    width: 50px;
    border-radius: 100% !important;
    overflow: hidden;
    margin:auto;
}

.rate{
    top: 5%;
    right: 5%;
    position: absolute; 
    display: block;
    z-index: 1000;
}