<app-header titulo="Registro" color="primary"></app-header>

<ion-content class="ion-padding">

    <form [formGroup]="directionForm">
        <div class="auto">
            <ion-img src="assets/Logo-petti-navi.svg" class="img"></ion-img>
            
            <ion-item>
                <ion-label mode="md" position="floating">Nombre de la empresa</ion-label>
                <ion-input type="text" [(ngModel)]="name" formControlName="name" name="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label mode="md" position="floating">Nombre del representante de la empresa</ion-label>
                <ion-input type="text" [(ngModel)]="lastname" formControlName="lastname" name="lastname"></ion-input>
              </ion-item>
            <ion-item>
              <ion-label mode="md" position="floating">Identificacion de la empresa</ion-label>
              <ion-input type="text" [(ngModel)]="nit" formControlName="nit" name="nit"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label mode="md" position="floating">Celular de contacto</ion-label>
                <ion-input type="tel" [(ngModel)]="phone" formControlName="phone" name="phone"></ion-input>
            </ion-item>

            <ion-item>
                <ion-searchbar mode="ios" [(ngModel)]="autocomplete.query" formControlName="autocomplete"
                (ionInput)="updateSearch()" (ionClear)="ClearAutocomplete()" placeholder="Buscar dirección"></ion-searchbar>
            </ion-item>
            <ion-item [hidden]="autocompleteItems.length == 0" class="list">
                <ion-list mode="ios" class="list" [hidden]="autocompleteItems.length == 0">
                    <ion-item class="list" *ngFor="let item of autocompleteItems" tappable (click)="chooseItem(item)">
                    {{ item }}
                    </ion-item>
                </ion-list>
            </ion-item>

            <ion-item>
                <ion-label mode="md" position="floating">Tu dirección como la conoces</ion-label>
                <ion-input type="text" [(ngModel)]="direction" formControlName="direction" name="direction"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label mode="md" position="floating">Costo de domicilio por kilometro</ion-label>
                <ion-input type="number" [(ngModel)]="delivery" formControlName="delivery" name="delivery"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label mode="md" position="floating">Descripción de la empresa</ion-label>
                <ion-textarea [(ngModel)]="description" formControlName="description" name="description"></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label mode="md" position="floating">Horario</ion-label>
              <ion-input type="text" name="horario" [(ngModel)]="horario" formControlName="horario"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label mode="md" position="floating">Página web (si posee)</ion-label>
                <ion-input type="text" name="website" [(ngModel)]="website" formControlName="website"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label mode="md" position="floating">Correo</ion-label>
                <ion-input type="email" [(ngModel)]="email" formControlName="email" name="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label mode="md" position="floating">Contraseña</ion-label>
                <ion-input type="password" [(ngModel)]="password" formControlName="password" name="password"></ion-input>
            </ion-item>
            <div class="py-2">
                <ion-checkbox [(ngModel)]="terminos" formControlName="terminos" name="terminos"></ion-checkbox>
                <ion-label mode="md" class="ter" (click)="terminosClick()"><b style="color: var(--ion-color-primary);"> Términos y condiciones</b></ion-label>
            </div>
            
            <ion-button mode="ios" color="primary" expand="block" [disabled]="!directionForm.valid" (click)="onSubmitRegister()">
                <b>Registrar</b>
            </ion-button>

        </div>
    </form>

</ion-content>
