<app-header titulo="chats" color="primary"></app-header>

<ion-toolbar color="primary" *ngIf="rol !== 'admin'">
  <ion-segment [(ngModel)]="selectTabs" mode="md">
    <ion-segment-button value="creadas">
      <ion-label><b>Creadas por mi</b></ion-label>
    </ion-segment-button>
    <ion-segment-button value="agregaron">
      <ion-label><b>Me agregaron</b></ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content>
  
  <ion-searchbar placeholder="Ingrese la busqueda" mode="ios" showCancelButton="never" (ionChange)="buscar($event)"></ion-searchbar>

  <ion-list *ngIf="rol === 'admin'">
    <ion-item *ngFor="let chat of chatRooms | filtro: textoBuscar: 'emisorName'; let i = index" [attr.data-index]="i" (click)="openChat(chat)" button>
      <ion-avatar slot="start">
        <img src="assets/logo-amarillo.svg" alt="">
      </ion-avatar>
      <ion-label>
        <b>Emisor:</b> {{ userEmisorName[i] }} <br> <b>Receptor: </b>{{ userReceptorName[i] }} <br>
        <p *ngIf="chat.chatColor === 'danger'">Modulo: Coupet</p>
        <p *ngIf="chat.chatColor === 'primary'">Modulo: Perdidos</p>
        <p *ngIf="chat.chatColor === 'success'">Modulo: Adopción</p>
        <p *ngIf="chat.chatColor === 'secondary'">Modulo: Vet & Care</p>
        <p *ngIf="chat.chatColor === 'dark'">Modulo: Ventas</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="rol !== 'admin' && selectTabs == 'creadas'">
    <ion-item *ngFor="let chat of chatRooms2 | filtro: textoBuscar: 'receptorName'; let i = index" [attr.data-index]="i" (click)="openChat(chat)" button>
      <ion-avatar slot="start">
        <img src="assets/logo-amarillo.svg" alt="">
      </ion-avatar>
      <ion-label *ngIf="thisUid === chat.emisorUid" >
        <b>{{ userReceptorName2[i] }}</b> <br>
        <p *ngIf="chat.chatColor === 'danger'">Modulo: Coupet</p>
        <p *ngIf="chat.chatColor === 'primary'">Modulo: Perdidos</p>
        <p *ngIf="chat.chatColor === 'success'">Modulo: Adopción</p>
        <p *ngIf="chat.chatColor === 'secondary'">Modulo: Vet & Care</p>
        <p *ngIf="chat.chatColor === 'dark'">Modulo: Ventas</p>
      </ion-label>
      <ion-label *ngIf="thisUid === chat.receptorUid" >
        <b>{{ userEmisorName2[i] }}</b> <br>
        <p *ngIf="chat.chatColor === 'danger'">Modulo: Coupet</p>
        <p *ngIf="chat.chatColor === 'primary'">Modulo: Perdidos</p>
        <p *ngIf="chat.chatColor === 'success'">Modulo: Adopción</p>
        <p *ngIf="chat.chatColor === 'secondary'">Modulo: Vet & Care</p>
        <p *ngIf="chat.chatColor === 'dark'">Modulo: Ventas</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="rol !== 'admin' && selectTabs == 'agregaron'">
    <ion-item *ngFor="let chat of chatRooms3 | filtro: textoBuscar: 'emisorName'; let i = index" [attr.data-index]="i" (click)="openChat(chat)" button>
      <ion-avatar slot="start">
        <img src="assets/logo-amarillo.svg" alt="">
      </ion-avatar>
      <ion-label *ngIf="thisUid === chat.emisorUid" >
        <b>{{ userReceptorName3[i] }}</b> <br>
        <p *ngIf="chat.chatColor === 'danger'">Modulo: Coupet</p>
        <p *ngIf="chat.chatColor === 'primary'">Modulo: Perdidos</p>
        <p *ngIf="chat.chatColor === 'success'">Modulo: Adopción</p>
        <p *ngIf="chat.chatColor === 'secondary'">Modulo: Vet & Care</p>
        <p *ngIf="chat.chatColor === 'dark'">Modulo: Ventas</p>
      </ion-label>
      <ion-label *ngIf="thisUid === chat.receptorUid" >
        <b>{{ userEmisorName3[i] }}</b> <br>
        <p *ngIf="chat.chatColor === 'danger'">Modulo: Coupet</p>
        <p *ngIf="chat.chatColor === 'primary'">Modulo: Perdidos</p>
        <p *ngIf="chat.chatColor === 'success'">Modulo: Adopción</p>
        <p *ngIf="chat.chatColor === 'secondary'">Modulo: Vet & Care</p>
        <p *ngIf="chat.chatColor === 'dark'">Modulo: Ventas</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
