<ion-header mode="md">
  <ion-toolbar mode="md" color="primary">
    <ion-title class="py-2 ion-text-center"><img class="ix" src="assets/Logo-petti-navi.svg" alt=""></ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="primerMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides mode="ios" pager="ios" scrollbar="false">

    <ion-slide>
      <ion-button mode="ios" class="situation">
        <span style="margin-right: auto;"><h1 class="my-0 mr-2 font">¿Cómo podemos ayudarte?</h1></span>
      </ion-button>
      <div class="bottom">
        <img class="slide-img" src="https://firebasestorage.googleapis.com/v0/b/petti-2d60d.appspot.com/o/Home%2F1.png?alt=media&token=0ef92ef5-f46c-45b0-844c-34f7eccb373a" alt="">
      </div>
    </ion-slide>

    <ion-slide button routerLink="/petshop">
      <ion-button mode="ios" class="situation">
        <span style="margin-right: auto;"><h1 class="my-0 mr-2 font">Tienda</h1></span>
      </ion-button>
      <div class="bottom center">
        <img class="slide-img" src="https://firebasestorage.googleapis.com/v0/b/petti-2d60d.appspot.com/o/Home%2F4.png?alt=media&token=b6dab60c-288f-4cca-865c-cc0f2c110ee7" alt="">
      </div>
    </ion-slide>

    <ion-slide button routerLink="/vet">
      <ion-button mode="ios" class="situation">
        <span style="margin-right: auto;"><h1 class="my-0 mr-2 font">Vet & Care</h1></span>
      </ion-button>
      <div class="bottom center">
        <img class="slide-img" src="https://firebasestorage.googleapis.com/v0/b/petti-2d60d.appspot.com/o/Home%2F5.png?alt=media&token=3d2e98eb-3d18-4167-9db6-b21ba3dbc3bf" alt="">
      </div>
    </ion-slide>

    <ion-slide button routerLink="/coupet">
      <ion-button mode="ios" class="situation">
        <span style="margin-right: auto;"><h1 class="my-0 mr-2 font">Coupet</h1></span>
      </ion-button>
      <div class="bottom right">
        <img class="slide-img" src="https://firebasestorage.googleapis.com/v0/b/petti-2d60d.appspot.com/o/Home%2F6.png?alt=media&token=23751257-6936-4b7b-b4d1-e0e6e16cdf20" alt="">
      </div>
    </ion-slide>

    <ion-slide button routerLink="/adopcion">
      <ion-button mode="ios" class="situation">
        <span style="margin-right: auto;"><h1 class="my-0 mr-2 font">Adopción</h1></span>
      </ion-button>
      <div class="bottom center">
        <img class="slide-img" src="https://firebasestorage.googleapis.com/v0/b/petti-2d60d.appspot.com/o/Home%2F3.png?alt=media&token=5b94249f-fce5-4064-9852-5e6dc9031036" alt="">
      </div>
    </ion-slide>

    <ion-slide button routerLink="/perdidos">
      <ion-button mode="ios" class="situation">
        <span style="margin-right: auto;"><h1 class="my-0 mr-2 font">Mascotas Perdidas</h1></span>
      </ion-button>
      <div  class="bottom">
        <img class="slide-img" src="https://firebasestorage.googleapis.com/v0/b/petti-2d60d.appspot.com/o/Home%2F2.png?alt=media&token=19de6d46-5e88-48d1-970c-50ad5e70df6d" alt="">
      </div>
    </ion-slide>

  </ion-slides>

</ion-content>
