<ion-header mode="md">
  <ion-toolbar mode="md" color="primary">
    <ion-title class="py-2 ion-text-center"><img class="ix" src="assets/Logo-petti-navi.svg" alt=""></ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="primerMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides mode="ios" pager="ios" scrollbar="false">

    <ion-slide>
      <ion-button mode="ios" class="situation">
        <span style="margin-right: auto;"><h1 class="my-0 mr-2 font">¿Cómo podemos ayudarte?</h1></span>
      </ion-button>
      <div class="bottom center">
        <img class="slide-img" src="https://firebasestorage.googleapis.com/v0/b/petti-2d60d.appspot.com/o/Home%2F1.png?alt=media&token=71b72737-8db1-4038-a0b9-dac8d492038a" alt="">
      </div>
    </ion-slide>

    <ion-slide button routerLink="/petshop">
      <ion-button mode="ios" class="situation">
        <span style="margin-right: auto;"><h1 class="my-0 mr-2 font">Tienda</h1></span>
      </ion-button>
      <div class="bottom center">
        <img class="slide-img" src="https://firebasestorage.googleapis.com/v0/b/petti-2d60d.appspot.com/o/Home%2F2.png?alt=media&token=d00a35d9-38fa-4f6f-889b-e40a2d954130" alt="">
      </div>
    </ion-slide>

    <ion-slide button routerLink="/vet">
      <ion-button mode="ios" class="situation">
        <span style="margin-right: auto;"><h1 class="my-0 mr-2 font">Vet & Care</h1></span>
      </ion-button>
      <div class="bottom center">
        <img class="slide-img" src="https://firebasestorage.googleapis.com/v0/b/petti-2d60d.appspot.com/o/Home%2F3.png?alt=media&token=f6cdaa73-794a-48a1-9afb-86693fe9d675" alt="">
      </div>
    </ion-slide>

    <ion-slide button routerLink="/coupet">
      <ion-button mode="ios" class="situation">
        <span style="margin-right: auto;"><h1 class="my-0 mr-2 font">Coupet</h1></span>
      </ion-button>
      <div class="bottom center">
        <img class="slide-img" src="https://firebasestorage.googleapis.com/v0/b/petti-2d60d.appspot.com/o/Home%2F4.png?alt=media&token=5ef75b77-ea8e-4b81-b71e-715e7fd9d2f8" alt="">
      </div>
    </ion-slide>

    <ion-slide button routerLink="/adopcion">
      <ion-button mode="ios" class="situation">
        <span style="margin-right: auto;"><h1 class="my-0 mr-2 font">Adopción</h1></span>
      </ion-button>
      <div class="bottom center">
        <img class="slide-img" src="https://firebasestorage.googleapis.com/v0/b/petti-2d60d.appspot.com/o/Home%2F5.png?alt=media&token=5f7bcae9-8c66-4067-ad67-5e6516d682cf" alt="">
      </div>
    </ion-slide>

    <ion-slide button routerLink="/perdidos">
      <ion-button mode="ios" class="situation">
        <span style="margin-right: auto;"><h1 class="my-0 mr-2 font">Mascotas Perdidas</h1></span>
      </ion-button>
      <div  class="bottom right">
        <img class="slide-img" src="https://firebasestorage.googleapis.com/v0/b/petti-2d60d.appspot.com/o/Home%2F6.png?alt=media&token=da804aaf-02f6-4bb3-bd4d-fc99398c8a50" alt="">
      </div>
    </ion-slide>

  </ion-slides>

</ion-content>
