<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="end" fill="clear" (click)="closeModal()">
      <ion-icon style="color: #fff;" name="close"></ion-icon>
    </ion-button>
    <ion-title class="ion-text-center"><h2>{{ nombre }}</h2></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div id="card" class="ion-text-center">
    <ion-img src="{{imageUrl}}" class="your-img"></ion-img>
    <ion-item-divider mode=ios color="primary"></ion-item-divider>
    <ion-button mode="ios" class="porcentaje ion-text-center" color="primary"><ion-icon name="heart"></ion-icon><b> {{heartPorcent | number: '1.0-0' }} %</b></ion-button>
    <div class="card-bt">
        <h2>{{petName}}, {{age}}</h2>
        <p>
          {{city}}
        </p>
        <P>
          {{description}}
        </P>
        <ion-button mode="md" class="bt" color="primary" shape="round" (click)="likes()">
          <ion-icon [name]="likeType"></ion-icon>
        </ion-button>
        <ion-button mode="md" class="bt" color="primary" shape="round" *ngIf="userUid !== thisUserUid" (click)="AddChatRoom();">
          <ion-icon name="chatbubble-ellipses"></ion-icon>
        </ion-button>
        <ion-button mode="md" class="bt" color="primary" shape="round" (click)="dislike()">
          <ion-icon [name]="dislikeType"></ion-icon>
        </ion-button>
    </div>
  </div>

</ion-content>
