<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="end" fill="clear" (click)="closeModal()">
      <ion-icon style="color: #fff;" name="close"></ion-icon>
    </ion-button>
    <ion-title class="ion-text-center"><h2 class="ix">Términos y condiciones</h2></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-justify">
  <p>
    Estos términos y condiciones generales (“Términos y Condiciones”) constituyen un contrato entre usted (el Usuario) y Petti Colombia, (“Petti”) los cuales son aplicables al uso de los servicios ofrecidos a través de la aplicación móvil Petti (“Petti App”) o por cualquier otro medio. Todos los usuarios que deseen usar los servicios de Petti App quedan sujetos a estos Términos y Condiciones Generales. 
  </p>
  <p>
    Como requisito previo y obligatorio a el registro, todos los usuarios deben leer, entender y aceptar todas las disposiciones establecidas en estos Términos y Condiciones Generales y demás políticas.
  </p>
  <p>
    CUALQUIER USUARIO QUE NO ACEPTE ESTOS TÉRMINOS Y CONDICIONES GENERALES, LOS CUALES TIENEN UN CARÁCTER OBLIGATORIO Y VINCULANTE, DEBERÁ ABSTENERSE DE UTILIZAR LA APLICACIÓN MOVIL Y LOS SERVICIOS. Una vez finalizado y aceptado el registro, el usuario declara haber tomado conocimiento y aceptado los Términos y Condiciones Generales. 
  </p>

  <h3>
    1.	Capacidad Legal
  </h3>
  <p>
    Los usuarios que quieran acceder y/o usar los servicios de la aplicación deben estar en la capacidad de contratar. No deben utilizar los servicios personas menores de edad, las acciones que estos realicen será responsabilidad de sus padres, tutores, representantes o encargados y de esta manera se consideraran realizados por los anteriores, en ejercicio de la representación legal con la que cuentan.
  </p>
  <h3>2. Requisitos de uso</h3>
  <h5>a. Ingreso a la plataforma</h5>
  <p>
    El acceso a la aplicación es completamente gratuito, siempre y cuando el usuario tenga al menos un dispositivo móvil inteligente con sistema operativo iOS y/o Android.
  </p>
  <h5>b. Condiciones de Usuario Registrado</h5>
  <p>
    Para el acceso a el contenido de la aplicación no es necesario el registro del usuario. No obstante, la realización de algunos actos, acciones o actividades están condicionadas al previo registro del usuario, el cual deberá rellenar todos los campos del formulario con información fehaciente. Quien desee registrarse en la aplicación deberá verificar que la información otorgada a disposición de Petti App sea exacta, precisa y verdadera. De la misma manera el usuario asumirá el compromiso de actualizar su información personal cada vez que esta sufra modificaciones. Petti App no se responsabiliza por la veracidad de los datos personales que los usuarios registrados pongan a su disposición, por el contrario, estos últimos deben garantizar y responder, en cualquier caso, por la exactitud, veracidad, vigencia y autenticidad de la información que suministra a Petti.
  </p>
  <p>
    Para que un usuario pueda registrarse, primero debe cumplimentar el formulario de registro y aceptar los Términos y Condiciones Generales.
  </p>
  <h5>c. Confidencialidad de la Clave de Seguridad y acceso a la cuenta personal</h5>
  <p>
    Para poder convertirse en usuario registrado, el usuario debe crear una clave que le permita ingresar a su cuenta personal (“Clave de Seguridad”). El usuario se obliga a que la clave de seguridad sea única e intransferible, a mantenerla en estricta confidencialidad y, en todo caso, ser responsable por todo daño, lesión, perjuicio o detrimento que del incumplimiento de esta obligación de confidencialidad se genere por cualquier causa.
  </p>
  <p>
    Petti tiene la capacidad de cancelar, inhabilitar o suspender cuentas que contengan la misma información. De la misma manera que el usuario registrado se compromete a notificar a Petti de forma inmediata cualquier uso no autorizado de su cuenta, así como el ingreso de terceros no autorizados. La venta, alquiler, transferencia de la cuenta bajo cualquier título esta terminantemente prohibida, en cuyo caso será motivo suficiente para dar de baja al usuario registrado.
  </p>
  <p>
    Petti se reserva el derecho de rechazar cualquier solicitud de registro o de cancelar uno ya existente, cuando considere que no se ha cumplido la totalidad de las pautas establecidas en los Términos y Condiciones Generales. Esto, sin que Petti App esté obligado a comunicar los motivos de su decisión ni genere derecho a indemnización alguna a favor del usuario registrado.
  </p>
  <h5>d. Actualización de los datos personales</h5>
  <p>
    Los Datos Personales introducidos por todo Usuario Registrado en la aplicación deberán ser exactos, actuales y veraces en todo momento. Petti se reserva del derecho de realizar seguimiento y control a los Datos de sus usuarios para corroborar la actualización de los datos y de suspender temporal y/o definitivamente a aquellos Usuarios Registrados cuyos datos no hayan podido ser confirmados, sin que ello genere derecho a resarcimiento o indemnización alguna.
  </p>

  <h3>3. Modificaciones de los Términos y Condiciones</h3>
  <p>
    Petti App podrá modificar los Términos y Condiciones Generales en cualquier momento haciendo públicos en la aplicación los términos modificados, estos, a su vez, entrarán en vigor al momento de su publicación y el uso continuado de los servicios de la aplicación por parte del Usuario implica la aceptación de los nuevos Términos y Condiciones Generales. Si el usuario no acepta los nuevos Términos y condiciones deberá comunicarlo por correo electrónico a la dirección petti.soporte@gmail.com y de esta manera se iniciara el debido proceso hacia la inhabilitación o desvinculación como usuario registrado, siempre y cuando este no tenga deudas pendientes. Si el usuario tiene deudas pendientes la baja o inhabilitación se realizará una vez canceladas las mismas, las que cuales se continuaran devengando hasta su total cancelación.
  </p>
  <h3>4. Adquisición de servicios y productos a través de Petti App.</h3>
  <p>
    Petti App es una aplicación móvil que pone a disposición de sus Usuarios los servicios y/o productos de los proveedores, empresas prestadoras de servicios o empresas aliadas (de ahora en adelante “Empresas Aliadas”). De esta manera Petti App solo actúa como un intermediario o facilitador entre Usuarios y Empresas Aliadas.
  </p>
  <p>
    Los servicios y/o productos que brinden las empresas aliadas deben ser previamente socializados por la coordinación de Petti App para poder ser publicados en la aplicación. Petti App se reserva el derecho de negociar con antelación las condiciones de precios, horarios, tipos de servicios y demás condiciones que se establezcan entre Petti App y las empresas aliadas. Todas las solicitudes que reciba Petti App serán re direccionadas a las empresas aliadas. En todo caso, Petti App servirá como un mecanismo para agilizar y facilitar la gestión de los servicios que se produzcan entre el usuario y las empresas aliadas.
  </p>
  <p>
    Petti App no ofrece ni proporciona de manera directa ninguno de los servicios relacionados con las actividades de las empresas aliadas, sino sólo su intermediación. Por ende, Petti App no será responsable de los daños y/o perjuicios que puedan sufrir las partes en ningún ejercicio de la prestación de los servicios o adquisición de los productos de las empresas aliadas.
  </p>
  <p>
    Todos los productos medico y/o alimentos que se adquieran por medio de Petti deben tener una prescrpcion veterinaria externa 
  </p>
  <p>
    Las empresas aliadas son libres de ofrecer sus servicios por fuera de la aplicación que pone a su disposición Petti App, sin embargo, si el usuario y la empresa aliada han establecido su primer contacto a través de la aplicación, pero deciden continuar su relación comercial por fuera de la aplicación, Petti App se reserva el derecho de cancelar el contrato de alianza con la empresa aliada sin derecho a réplica ni apelación.
  </p>
  <p>
    Además, Petti App podrá solicitar servicios a la empresa aliada bajo la dinámica de “mistery shopping” para corroborar que las empresas aliadas no estén alterando la intermediación de Petti App en la prestación de los servicios.
  </p>
  <p>
    Las empresas aliadas tienen el derecho de aceptar o rechazar los servicios, siempre y cuando lo notifiquen de manera oportuna.
  </p>
  <h3>5. Condiciones y formas de pago</h3>
  <h5>a. Servicios</h5>
  <p>
    Los servicios adquiridos por el usuario deberán ser abonados antes de comenzar con el mismo, el abono se puede realizar de dos maneras, en efectivo o pagos en línea a través de una pasarela de pago externa a Petti llamada Wompi la cual es suministrada por Bancolombia S.A.
  </p>
  <h5>b. Productos</h5>
  <p>
    Los productos adquiridos por el usuario podrán ser cancelados en efectivo a contra entrega o en línea antes de que los productos sean despachados, este pago se realiza a través de una pasarela de pagos externa a Petti llamada Wompi la cual es suministrada por Bancolombia S.A.
  </p>
  <p>
    La presente solicitud estará condicionada a que el cliente haya aceptado estos términos y condiciones de pago al momento de registrarse. Aun cuando Petti ponga a disposición del cliente un sistema de conexión segura de todas las ofertas de compra, en ningún caso, Petti será responsable de las comunicaciones fallas de las entidades bancarias o de crédito, así como tampoco de los daños causados a los usuarios con acción u omisión de dichas entidades. Si el pago es en línea Petti verificará la cancelación del 100% del anticipo y el cumplimiento de las demás condiciones de la presente solicitud. Si el pago seleccionado es efectivo/contraentrega este debe deberá ser cancelado al momento de recibir los productos o servicios. Los pagos aceptados a través de Petti se efectuarán única y exclusivamente por los siguientes medios: 1. Tarjetas de Crédito: Visa, Dinner, Master Card, American Express. 2. Tarjetas Débito: Maestro y Electrón 3. Transferencias Bancarias: PSE y Nequi. 4. Efectivo 
  </p>
  <p>
    Petti App solo admitirá los medios de pago que estén identificados en la aplicación en el momento de la cancelación de la reserva o valor del producto. Con el fin de facilitar los pagos, el usuario deberá seguir el procedimiento que estipula la aplicación para la adquisición de un producto o servicios. En cualquier caso, el usuario podrá modificar los datos de pago empleando para ello los medios habilitados.
  </p>
  <h3>6. Política de cancelación y devolución de dinero</h3>
  <p>
    Los usuarios tienen la posibilidad de cancelar su solicitud sin que sea necesario ningún motivo o justificación, siempre y cuando este aún no se encuentra en ejecución o haya finalizado. En caso que la cancelación se realice durante o después de la ejecución de la solicitud, Petti App se reserva el derecho de solicitar la justificación de manera que pueda ser socializado con la empresa aliada. 
  </p>
  <p>
    En caso de quedar saldo a favor para el usuario, éste podrá solicitar la devolución del dinero o podrá utilizarlo para la adquisición de un nuevo servicio o producto.
  </p>
  <p>
    Todas las devoluciones se realizarán únicamente por transferencia bancaria hacia el usuario y tendrá un plazo máximo de entrega de 5 días habiles luego de ser solicitada.
  </p>
  <h3> 7. Uso de las redes sociales en la aplicación</h3>
  <p>
    Petti App brinda una sección de red social, donde tanto anunciantes como buscadores pueden publicar contenido, dar “likes” y generar contactos. Es obligatorio que los anunciantes y buscadores se registren previamente en la aplicación, teniendo en cuenta los términos y condiciones de acceso a las condiciones de usuarios registrados.
  </p>
  <p>
    Los usuarios no podrán utilizar estos espacios para incluir ni insinuar información con carácter obsceno, abusivo, violento o que constituya una amenaza, injuria o calumnia o que de cualquier otra forma resulte ofensivo para terceros que tengan cualquier tipo de relación con Petti App. De esta manera, Petti App se reserva el derecho de eliminar o modificar cualquier tipo de información suministrada por los usuarios que considere inadmisible. Tampoco podrán incluir contenido con carácter ilícito o que incite a estas actividades.
  </p>
  <p>
    En caso de que algún usuario detecte información o contenido ofrecido por terceros que considere no cumpla con alguna de las condiciones anteriores, puede proceder a notificarlo a Petti App.
  </p>
  <p>
    Los usuarios autorizan mediante los oportunos derechos y/o autorizaciones a Petti App para que pueda publicar dicho contenido en la aplicación y otras redes sociales.
  </p>
  <p>
    Los usuarios de Petti App pueden incluir en los espacios de red social imágenes, fotografías y textos. En este sentido, el usuario será el único responsable de todos los daños y perjuicios que pudiera causar la utilización de su perfil, así como la subida de contenidos, información, datos, incluido.
  </p>
  <p>
    De esta manera el usuario, exime en su totalidad a Petti App de cualquier reclamación y/o sanción que pudieran imponerle a causa de los contenidos incluidos por el usuario en los espacios que le brinde la aplicación.
  </p>
  <h3>8. Responsabilidades</h3>
  <p>
    Petti App tiene la función de actuar como intermediario para que los usuarios adquieran los productos y servicios que brindan las empresas aliadas, por lo que su responsabilidad únicamente se circunscribe a el ámbito de esta actividad (intermediación).
  </p>
  <p>
    En ningún caso Petti App será responsable por los daños y/o perjuicios que se puedan causar como consecuencia de los servicios y productos adquiridos a través de la aplicación, ya que estos son prestados exclusivamente por las empresas aliadas.
  </p>
  <p>
    Como el servicio prestado por la empresa aliada no es proporcionado por Petti App, sino directamente por la empresa aliada, esta última será la única responsable de los daños que pudieren sufrir los animales. Del mismo modo, Petti queda exento de toda responsabilidad por los daños que pudieren ocasionar los propios animales, sea a personas o cosas y que le fueren directamente imputables.
  </p>
  <p>
    Entiendo que los servicios de las empresas alidas incluyen la movilización, traslado o domicilio de las mascotas, Petti App no se hace responsable de ningún daño, accidente o perjuicio que se pueda causar en dichos traslados.
  </p>
  <h3>9. Incumplimiento</h3>
  <p>
    El incumplimiento de cualquiera de las obligaciones establecidas en estas condiciones supondrá la automática eliminación de la cuenta del usuario, y habilitará a Petti App a reclamar cuantos daños y/o perjuicios pueda ocasionársele.
  </p>
  <p>
    Asimismo, si como consecuencia de la eliminación de una cuenta por incumplimiento de los Términos y Condiciones Generales de uso de los servicios ofrecidos por Petti App, un cliente no pueden recibir un servicio, serán informados por Petti App de esta circunstancia y no podrán reclamar a Petti App por los daños y/o perjuicios que pudieran ser ocasionados.
  </p>


</ion-content>
